<br>


<div class="row">
    <div class="col-md-5">
        <input #termino [(ngModel)]="busqueda.descripcion" type="text" (keyup)="searchTodo(termino.value,estado.value)" class="form-control" placeholder="Buscar tarea">
    </div>
    <div class="col-md-5">
        <select id="sEstado" #estado [(ngModel)]="busqueda.status" (change)="searchTodo(termino.value,estado.value)" class="form-control">
            <option selected value="Todos">Todos</option>
            <option value="Pendiente">Pendientes</option>
            <option value="Completado">Completados</option>
          </select>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 text-left">
        <button [routerLink]="['/todo','nuevo']" class="btn btn-outline-primary" type="button" name="button">
                <i class="fa fa-plus"></i>
                Agregar
        </button>
    </div>
</div>

<div class="row animated fadeIn fast">
    <div class="col-md-10">

        <div class="table-responsive">

            <table *ngIf="!loading && !error && todoList.length > 0" class="table mt-3 animated fadeIn faster animated fadeIn faster">
                <thead>
                    <tr>
                        <th width="20%">Tareas</th>
                        <th width="50%"></th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr [ngClass]="{'completed': todo.status=='Completado' , 'pending': todo.status=='Pendiente' }" *ngFor="let todo of todoList ; let i = index">
                        <td>
                            <div class="col">
                                <div class="row"><img [src]="todo | todoImage" height="100 " width="100"></div>
                                <div class="row">
                                    <button title="Modificar" [routerLink]="[ '/todo', todo.id] " type="button " class="btn btn-outline-info ">
                                                <i class="fa fa-pencil "></i>
                                            </button>
                                    <button title="Eliminar" (click)="borraTodo(todo,i) " type="button " class="btn btn-outline-danger ">
                                                    <i class="fa fa-trash "></i>
                                            </button>


                                </div>
                            </div>


                        </td>
                        <td style="max-width:150px;">

                            <div class="row">
                                <div class="md-col-2">
                                    <button title="Marcar como pendiente" *ngIf="todo.status=='Completado'" (click)="setPendiente(todo)" class="btnCompleted btn btn-outline-success w-30" type="button">
                                                <i class="fa fa-check-square"></i>
                                              </button>
                                    <button title="Marcar como completado" *ngIf="todo.status=='Pendiente'" (click)="setCompletado(todo)" class="btnPending btn btn-outline-danger w-30" type="button">
                                                    <i class="fa fa-check-square"></i>    
                                              </button>
                                </div>
                                <div class="md-col-10"> {{ todo.descripcion }}</div>
                            </div>


                        </td>

                        <td>

                        </td>

                    </tr>
                </tbody>
            </table>

            <div *ngIf="!loading && !error && todoList.length===0 " class="alert alert-warning text-center mt-3 animated fadeIn faster ">
                <h4 class="alert-heading ">No hay registros</h4>
                <p>
                    <i class="fa fa-exclamation fa-2x "></i>
                </p>
            </div>

            <div *ngIf="loading " class="alert alert-info text-center mt-3 animated fadeIn faster ">
                <h4 class="alert-heading ">Cargando</h4>
                <p>
                    <i class="fa fa-sync-alt fa-spin fa-2x "></i>
                </p>
                <p class="mb-0 ">
                    Espere por favor
                </p>
            </div>

            <div *ngIf="error " class="alert alert-danger text-center mt-3 animated fadeIn faster ">
                <h4 class="alert-heading ">Error general</h4>
                <p>
                    <i class="fa fa-sync-alt fa-spin fa-2x "></i>
                </p>
                <p class="mb-0 ">
                    {{errMessage}}
                </p>
            </div>


        </div>

    </div>
</div>