<h3>Tarea </h3>
<button [routerLink]="['/todos']" class="btn btn-outline-danger">
  <i class="fa fa-arrow-left"></i>
  Regresar
</button>


<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-6">

        <form (ngSubmit)="guardar( f )" #f="ngForm">

            <div class="form-group">
                <!-- <label>Nombre</label> -->
                <textarea placeholder="Descripcion" class="form-control" [(ngModel)]="todo.descripcion" name="descripcion" id="" cols="50" rows="4" maxlength="250" required>
              </textarea>
            </div>

            <button *ngIf="!estaPendiente()" (click)="setPendiente()" class="btn btn-outline-success w-50" type="button">
      <i class="fa fa-smile-wink"></i>
      Completado
    </button>

            <button *ngIf="estaPendiente()" (click)="setCompletado()" class="btn btn-outline-danger w-50" type="button">
        <i class="fa fa-dizzy"></i>
        Pendiente
    </button>

            <app-carga [imgURL]="updateImg" (archivoSeleccionado)="guardarArchivo($event)"></app-carga>


            <div class="form-group">
                <button [disabled]="!f.valid" type="submit" class="btn btn-outline-primary">
                  <i class="fa fa-save">Guardar carmbios</i>
                </button>
            </div>

        </form>


    </div>
</div>