<!-- Modal -->
<div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Descripcion</label>
                        <textarea name="descripcion" id="descripcion" cols="50" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Estado</label>
                        <input type="text" id="descripcion" class="form control" placeholder="Estado">
                    </div>
                    <label for="">Imagen</label>
                    <input type="text" id="descripcion" class="form control" placeholder="Imagen">

                    <button type="submit" class="btn btn-primary float-right">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>